body {
    font-family: Arial, sans-serif;
    height: 300vh; 
    margin: 20px;
    position: relative;
  }


  .box-static {
    width: 150px;
    height: 100px;
    background-color: #ff9999;
    padding: 10px;
    font-weight: bold;
  }

  .box-fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 100px;
    background-color: #66ccff;
    padding: 10px;
    font-weight: bold;
    z-index: 1; 
  }


  .box-relative {
    position: relative;
    left: 20px; 
    width: 150px;
    height: 100px;
    background-color: #99ff99;
    padding: 10px;
    font-weight: bold;
    margin:40px
  }
  .wrapper {
    position: relative; 
    height: 150px;
    margin-bottom: 40px;
    background: #e87676;
    padding: 10px;
  }
  .box-absolute {
    position: absolute;
    right: 10px;
    width: 140px;
    height: 100px;
    background-color: #5e4209;
    padding: 10px;
    font-weight: bold;
  }